body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

.container-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    border-color: #ff6600;
}

.card a {
    display: inline-block;
    padding: 10px 15px;
    background: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.card a:hover {
    background: #cc5200;
}
h1{
    margin: 0;
    font-size: 3rem;
    color: #cc5200;
}